/* creates a responsive page */
.skill {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .skills {
    font-family: "Poppins";
    font-size: 65px;
    text-align: center;
    color: white;
    transition: all .3s ease;

  }

.skills:hover{
    transform: scale(1.3);
    transition: all .3s ease;
    color: #333;
}
  .lists {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
  }

  /* makes the items act differently when next to each other and formatting */
  .items {
    font-family: Poppins;
    font-size: 25px;
    margin: 50px;
    border-radius: 5px;
    white-space: nowrap;
    color: white;
    border: #333 solid 5px;
    padding: 10px;
    border-radius: 25px;
    list-style-type: none;
    transition: all .3s ease;

  }

.items:hover{
    transform: scale(1.3);
    transition: all .3s ease;
}
  